<head>
  {% load staticfiles %}
  <link rel='stylesheet' type='text/css' href="{% static 'core/style.css' %}"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
  <div class= 'container'>
      <h2 class='intro'>Create a new prediction for the Iris Dataset</h2>
      <form id ='new-pred' class='form-inline' action="{% url 'core:new' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Sepal Length:</label>
            <input type="text" name="sepal_l">
        </div>
        <div class="form-group">
            <label>Sepal Width:</label>
            <input type="text" name="sepal_w">
        </div>
        <div class="form-group">
            <label>Petal Length:</label>
            <input type="text" name="petal_l">
        </div>
        <input type="submit" value="Submit">
      </form>


        <table class="table">
          <tr>
            <th>ID</th>
            <th>Sepal Length</th>
            <th>Sepal Width</th>
            <th>Petal Length</th>
            <th>Prediction</th>
            <th>Created At</th>
          </tr>
          {% for prediction in latest_prediction_list %}
              <tr>
                  <td><p>{{ prediction.id}}</p></td>
                  <td><p>{{ prediction.sepal_length}}</p></td>
                  <td><p>{{ prediction.sepal_width}}</p></td>
                  <td><p>{{ prediction.petal_length}}</p></td>
                  <td><p>{{ prediction.prediction}}</p></td>
                  <td><p>{{ prediction.created_at}}</p></td>
              </tr>
          {% endfor %}
        </table>
  </div>

</body>
